.back-to-top {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid #c1c1c1;
  position: fixed;
  bottom: 25px;
  right: 15px;
  z-index: 999;
  transition: opacity 0.5s;
}
.back-to-top > i {
  width: 15px;
  height: 15px;
  margin-top: 15px;
  display: inline-block;
  background-color: black;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
